  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .heading_div
  {
    background: white ; 
    float: none;
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_name_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .copy_right_footer
  {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: blue;
    color: yellow;
    bottom: 0;
  }

  canvas
  {
    border-radius: 20px;
    border: 3px solid orange;
    margin-top: 320px;
    box-shadow: 5px 5px 5px red;
  }
 